Source: echttp
Version: 2.0b
Section: Web servers
Maintainer: Pascal Martin <pascal.fb.martin@gmail.com>
Priority: optional
Homepage: https://github.com/pascal-fb-martin/echttp
Standard-Version: 4.7.0
Package: echttp-dev
Architecture: {arch}
Depends: libssl-dev
Description: An HTTP server library to be embedded in C applications as a console for configuration and monitoring
 This is a small HTTP/1.1 server designed with a simple API in plain C and
 minimal dependencies so to use minimal system resources.
 .
 The target use case is an application that needs to be administrated or
 monitored remotely, or that exports (or is the client of) a web API.
 Typically this application would run on a Raspberry Pi or an old mini PC
 acting as a home server, running Linux.

